.AppLink {
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
}

.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--secondary-color);
}

.green {
    color: green;
}
